@import url(reset.css);

body {
    background: url(../images/body-bg.jpg);
    font: 12px/1.7 Arial;
    color: #969696;
}

.wrapper {
    min-width: 200px;
    max-width: 1200px;
    margin: 0 auto;
}

a:hover {
    text-decoration: underline;
}

h1, h2, h3, h4, a {
    font-family: Trebuchet MS;
}

h2 {
    font-size: 13px;
    color: #2e2c2d;
}

header {
    padding: 20px 20px 70px 0;
    margin-top: 27px;
}

.clearfix:before, .clearfix:after {
    content: "";
    clear: both;
    display: table;
}

.logo {
    float: left;
    margin: 35px 45px 0 0;
}

header h1 {
    float: left;
    margin-top: 43px;
    font-size: 15px;
    color: #939393;
}

header ul {
    float: right;
}

header .hd-ico {
    float: left;
    width: 20px;
    height: 16px;
    margin-right: 7px;
    background-image: url(../images/sprites.png);
}

header .fb {
    background-position: -8px -10px;
}

header .tw {
    background-position: -47px -10px;
}

header ul a {
    display: block;
    height: 100%;
}

.content-main {
    padding: 0 30px;
    background: #fff;
}

.menu {
    background: url(../images/menu-bg.jpg);
}

.menu ul {
    padding: 30px;
}

.menu ul li {
    float: left;
    margin-right: 3px;
    font: bold 14px Trebuchet MS;
}

.menu ul li a {
    display: block;
    padding: 5px 20px;
    color: #413f40;
    border: 1px solid #e8e7e3;
}

.menu ul li #active {
    background: linear-gradient(to top, #f45300, #F48849);
    border: 1px solid #c84502;
    border-radius: 5px;
    color: #fff;
}

.menu ul li #active:hover {
    background: #F48849;
}

.menu .pull {
    display: none;
}

.menu ul li #active:hover,
.service .red:hover,
.service .black:hover,
.work-with-us a:hover {
    text-decoration: none;
}

.slogan-main {
    margin-bottom: 23px;
}

.slogan {
float: left;
width: 33%;
padding-right: 20px;
margin-top: 30px;
box-sizing: border-box;
}

.slogan-1 {
    margin-bottom: 15px;
}

.slogan-1 .content-ico-1,
.slogan-1 .content-ico-2 {
    float: left;
    background-image: url(../images/sprites.png);
}

.slogan-1 .content-ico-1 {
    float: left;
    width: 39px;
    height: 32px;
    background-position: -143px -10px;
}

.slogan-1 .content-ico-2 {
    float: left;
    width: 37px;
    height: 37px;
    background-position: -144px -64px;
}

.slogan-1 h2 {
    float: left;
    width: 74%;
    margin-left: 8%;
    font-weight: bold;
    line-height: 17px;
}

.content-main-image {
    margin-bottom: 26px;
}

.content-main-image img {
    display: block;
    margin: 0 auto;
}

.service-main {
    margin-bottom: 46px;
}

.service {
    float: left;
    width: 25%;
    padding-right: 30px;
    box-sizing: border-box;
}

.service a {
    display: block;
    width: 155px;
    height: 29px;
    margin: 0 auto;
    border-radius: 20px;
    text-align: center;
    font-size: 15px;
    color: #fff;
    line-height: 28px;
}

.service .red {
    background: linear-gradient(to top, #e66523, #F1A375);
}

.service .red:hover {
    background: #F1A375;
}

.service .black {
    background: linear-gradient(to top, #534f52, #ACA8AB);
}

.service .black:hover {
    background: #ACA8AB;
}

.service p {
    margin: 14px 0;
}

.service-1 {
    float: right;
    width: 25%;
    padding-right: 30px;
    box-sizing: border-box;
}

.work-with-us {
    padding: 34px 20px;
    background: url(../images/work-with-us-bg.jpg);
    margin-bottom: 25px;
}

.work-with-us h2 {
    float: left;
    width: 62%;
    font-size: 18px;
    color: #706d6a;
    line-height: 30px;
}

.work-with-us a {
    display: block;
    float: right;
    width: 275px;
    height: 63px;
    margin: 0 auto;
    background: linear-gradient(to top, #e66523, #F1A375);
    border: 5px solid #f1eade;
    border-radius: 30px;
    text-align: center;
    font-size: 20px;
    color: #fff;
    line-height: 45px;
}

.work-with-us a:hover {
    background: #F1A375;
}

.content-bottom-row {
    padding-bottom: 20px;
}

.content-bottom-row h2 {
    margin-bottom: 19px;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
}

.content-bottom-row h3,
footer h3 {
    font-size: 13px;
}

.content-bottom-row h2,
.content-bottom-row h3 {
    color: #343233;
}

.content-bottom-row p {
    color: #adadad;
}

.customers {
    float: left;
    width: 66%;
}

.author {
    float: left;
    width: 50%;
    padding-right: 30px;
    box-sizing: border-box;
}

.photo {
    margin-bottom: 30px;
}

.photo .name {
    float: left;
    width: 48%;
    margin-left: 12%;
}

.photo .name p {
    font-size: 10px;
    color: #f55909;
}

.photo img {
    float: left;
    display: block;
}

.news-main {
    float: right;
    width: 34%;
    box-sizing: border-box;
    padding-left: 16px;
}

.news {
    margin-bottom: 21px;
}

.video {
    float: left;
    width: 53px;
    height: 53px;
    background: #ff0000;
    border: 3px solid #dedad4;
    border-radius: 7px;
}

.video a {
    display: block;
    height: 100%;
}

.directed {
    float: left;
    width: 60%;
    margin-left: 5%;
    line-height: 18px;
}

.directed h3 a {
    font-weight: bold;
    color: #343233;
}

.directed span {
    font-size: 10px;
    color: #f55909;
}

footer {
    margin-bottom: 40px;
    background: #4a4744;
    border-top: 11px solid #615f5d;
}

.footer-top {
    padding: 29px 30px;
}

.footer-top-left {
    float: left;
    width: 66%;
    padding-right: 30px;
    box-sizing: border-box;
}

.footer-top-right {
    float: right;
    width: 32%;
    padding-right: 30px;
    font: 12px Arial;
    box-sizing: border-box;
    line-height: 23px;
    margin-left: 2%;
}

.footer-bottom {
    padding: 22px 35px 21px 31px;
    background: url(../images/footer-bg-tex.jpg);
}

.footer-logo {
    float: left;
}

.footer-bottom p {
    float: right;
    color: #848484;
}

footer h3, footer a,
.footer-top-right li {
    color: #f7f5ee;
}

footer a {
    font: 12px Arial;
}

footer h3 {
    font-weight: bold;
    margin-bottom: 11px;
}

@media screen and (max-width: 850px) {

    .service-main {
        margin-bottom: 15px;
    }

    .service {
        width: 50%;
        margin-bottom: 20px;
    }

    .work-with-us h2 {
        width: 100%;
        margin-bottom: 20px;
        text-align: center;
    }

    .work-with-us a,.work-with-us h2 {
        float: none;
    }

    .content-bottom-row {
        padding-bottom: 10px;
    }
}

@media screen and (max-width: 800px) {

    .slogan-1 .content-ico-1,
    .slogan-1 .content-ico-2,
    .slogan-1 h2 {
        float: none;
    }

    .slogan-1 .content-ico-1,
    .slogan-1 .content-ico-2 {
        margin: 0  auto;
    }

    .slogan-1 h2 {
        margin: 15px 0 0;
        width: 100%;
    }
}


@media screen and (max-width: 768px) {

    .logo, header h1, header ul,
    .customers, .news-main {
        float: none;
    }

    .logo {
        margin: 30px 0 0 0;
    }

    .logo img {
        display: block;
        margin: 0 auto;
    }

    header {
        position: relative;
        padding: 10px 10px;
        margin-top: 0;
    }

    header h1 {
        margin-top: 15px;
        text-align: center;
        font-size: 15px;
    }

    header ul {
        position: absolute;
        top: 20px;
        right: 30px;
    }

    .customers {
        margin-bottom: 20px;
    }

    .customers, .news-main {
        width: 100%;
    }

    .news {
        float: left;
        width: 48%;
        margin-right: 2%;
    }

    .menu ul {
        display: none;
    }

    .menu .pull {
        display: block;
        padding: 10px 3%;
        cursor: pointer;
        position: relative;
    }

    .menu span {
        float: left;
        font-size: 14px;
        font-weight: bold;
        color: #413f40;
    }

    .nav-main {
        position: absolute;
        top: 15px;
        right: 3%;
    }

    .nav {
        width: 12px;
        height: 2px;
        margin-bottom: 3px;
        background: #f45300;
    }

    .footer-top-right {
        line-height: 20px;
    }
}

@media screen and (max-width: 600px) {

    .slogan {
        float: none;
        width: 100%;
    }
}

@media screen and (max-width: 480px) {

    .logo {
        margin-top: 0;
    }

    .logo img {
        width: 100px;
    }

    .menu ul li, .service,
    .author, .news, .footer-top-left,
    .footer-top-right {
        width: 100%;
    }

    header h1, header ul {
        display: none;
    }

    .slogan {
        margin-top: 20px;
    }

    .menu ul li, .service, .author,
    .news, .footer-top-left,
    .footer-top-right, .footer-logo,
    .footer-bottom p {
        float: none;
    }

    .author {
        margin-bottom: 20px;
    }

    .customers {
        margin-bottom: 10px;
    }

    .footer-top-left {
        margin-bottom: 20px;
    }

    .footer-bottom {
        padding: 10px 30px;
    }

    .footer-logo {
        margin-bottom: 10px;
    }

    .footer-logo img {
        display: block;
        margin: 0 auto;
    }

    .footer-bottom p {
        text-align: center;
    }
}

@media screen and (max-width: 390px) {

    .work-with-us a {
        width: 200px;
        height: 45px;
        border: 3px solid #f1eade;
        border-radius: 25px;
        text-align: center;
        font-size: 15px;
        line-height: 37px;
    }
}

@media screen and (max-width: 310px) {

    .work-with-us a {
        width: 165px;
        height: 34px;
        border: 1px solid #f1eade;
        border-radius: 20px;
        text-align: center;
        font-size: 13px;
        line-height: 32px;
    }

    .photo .name {
        margin-left: 7%;
    }
}

@media screen and (max-width: 280px) {

    .work-with-us {
        padding: 10px 20px;
        margin-bottom: 10px;
    }

    .work-with-us a {
        width: 155px;
        height: 33px;
        border: none;
        border-radius: 20px;
        text-align: center;
        font-size: 13px;
        line-height: 32px;
    }

    .service-main {
        margin-bottom: 0;
    }

    .photo {
        margin-bottom: 15px;
    }

    .content-main {
        padding: 0 10px;
    }

    .footer-top {
        padding: 20px 10px;
    }

    .footer-bottom {
        padding: 10px;

    }
}
